*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg_color: rgba(8, 11, 18, 1);
    --bg_main: rgba(20, 25, 34, 1);
    --bg_footer: rgba(40, 40, 40, 1);
    --txt_gray: rgba(125, 127, 132, 1);
    --evidence: rgba(173, 255, 47, 1);
    --txt_white: rgba(254, 254, 254, 1);
}

h3, h4, div{
    color: white; 
}

.txt{
    color: var(--txt_gray);
}

/* Inizio header */

header{
    background-color: var(--bg_color);
    width: calc(100% - 230px);
    height: 91px;
    position: absolute;
    right: 0;
    top: 0;
    
}

.button_upgrade{
    height: 34px;
    padding: 10px;
    width: 200px;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 20px;
    
}


/* Inizio aside */

aside{
    height: calc(100vh - 91px);
    background-color: var(--bg_color);
    width: 230px;
    position: relative;
}

.logo{
    width: 133px;
    height: 91px;
    padding-top: 20px;
    padding-left: 20px;
}

.playlist{
    height: 50%;
    position: relative;
    z-index: 0;
}

.home,
.playlist,
.install{
    padding: 20px;
    padding-top: 0;
}

.home img,
.playlist img,
.install img{
    width: 20px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul li{
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 0;
    column-gap: 10px; 
}

ul li a{
    text-decoration: none;
    color: var(--txt_gray); 
}

.square_gray{
    width: 35px;
    height: 35px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.square_gray i{
    color: black;
    font-size: 25px;
}

.install{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding-bottom: 0;
    z-index: 1;
    background-color: black;
}


hr{
    margin: 10px 0;
}

.circle_gray{
    width: 28px;
    height: 28px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Inizio main */

main{
    background-color: var(--bg_main);
    width: calc(100% - 230px);
    height: calc(100vh - 181px);
    position: absolute;
    right: 0;
    top: 91px;
}


/* Inizio footer */

footer{
    width: 100%;
    background-color: var(--bg_footer);
    height: 91px;
    position: fixed;
    z-index: 400;
    display: flex;
    justify-content: space-between;
}

.container_left{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    column-gap: 20px;
}


.name_sound{
    width: 43px;
    height: 43px;
}

.name_sound img{
    width: 100%;
    height: 100%;
}

.like i{
    color: var(--txt_gray);
    margin-left: 20px;
}

.container_center{
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
}

.container_center i{
    color: white;
    font-size: 35px;
    padding-bottom: 0px;
}

.container_center .font_size{
    color: white;
    font-size: 25px;
}

.column{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.bar{
    width: 600px;
    height: 5px;
    display: flex;
    border-radius: 10px;
    align-items: center;
}

.bar_white{
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    margin-left: 15px;
}

.bar_gray{
    width: 70%;
    height: 100%;
    background-color: var(--txt_gray);
    border-radius: 0px 10px 10px 0px;
    margin-right: 15px;
}


.container_right{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    column-gap: 20px;

}

.bar2{
    width: 100px;
    height: 5px;
    display: flex;
    border-radius: 10px;
    align-items: center;
}

.m_right{
    margin-right: 0px;
}


/* mediaquery */
@media screen and (max-height: 500px){
    .install ul .secondo{
        display: none;
    }

}

@media screen and (max-height:400px) {
    .install ul .primo{
            display: none;
    }

    .install ul hr{
        display: none;
}
}

/* @media screen and (max-height: 454px){
    .playlist{
        position: static;
    }
} */

@media screen and (max-height: 660px) {
    .playlist{
        overflow-y: scroll;
       
    }
    
}


 



