/* Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg_color: rgba(8, 11, 18, 1);
    --bg_main: rgba(20, 25, 34, 1);
    --bg_footer: rgba(40, 40, 40, 1);
    --txt_gray: rgba(125, 127, 132, 1);
    --evidence: rgba(173, 255, 47, 1);
    --txt_white: rgba(254, 254, 254, 1);
}

body{
    font-family: 'Kanit', sans-serif;
    background-color: var(--bg_main);
}

h1, h2, h3, h4, div{
    color: white; 
}
 
h1{
    font-size: 27px;
}

h2{
    font-size: 16.5px;
}

h4{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

.txt{
    color: var(--txt_gray);
}

/* Inizio header */

header{
    background-color: var(--bg_color);
    width: calc(100% - 230px);
    height: 91px;
    position: absolute;
    right: 0;
    top: 0;
    transition: width linear 1s;
}

.button_upgrade{
    height: 34px;
    padding: 10px;
    width: 200px;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 20px;
}

.button_upgrade:hover{
    width: 220px;
    height: 40px;
    font-size: 20px;
}

/* Inizio aside */

aside{
    height: calc(100vh - 91px);
    background-color: var(--bg_color);
    width: 230px;
    position: relative;
    transition: width linear 1s;
    transition: step-start 1s;
}

.logo{
    width: 133px;
    height: 91px;
    padding-top: 20px;
    padding-left: 20px;
}

.logo_mobile{
    width: 50px;
    height: 50px;
    margin-top: 15px;
    display: none;
}

.color_white{
    color: white;
}

.playlist{
    height: 50%;
    position: relative;
}

.home,
.playlist,
.install{
    padding: 20px;
    padding-top: 0;
}

.home img,
.playlist img,
.install img{
    width: 22px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul li{
    display: flex;
    align-items: center;
    padding: 10px;
    padding-top: 0;
    column-gap: 10px; 
}

ul li a{
    text-decoration: none;
    color: var(--txt_gray); 
}

.square_gray{
    width: 35px;
    height: 35px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square_gray i{
    color: black;
    font-size: 25px;
}

.install{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding-bottom: 0;
    background-color: var(--bg_color);
}

.install .secondo a{
    color: white;
}

hr{
    margin: 10px 0;
    width: 100%;
}

.circle_gray{
    width: 22px;
    height: 22px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.circle_gray img{
    height: 80%;
    width: 80%;
    object-fit: contain;
}

.rotate{
    transform: rotate(90Deg);
    position: absolute;
    left: -12px;
    top: 110px;
}

.evidence2{
    width: 34px;
    height: 4px;
    background-color: var(--evidence);
}

.border_left{
    border-left: 2px solid var(--evidence);
}

aside a:hover{
    color: white;
}

aside .playlist .square_gray:hover{
    background-color: white;
}

/* Inizio main */

main{
    background-color: var(--bg_main);
    width: calc(100% - 230px);
    height: calc(100vh - 181px);
    position: absolute;
    right: 0;
    top: 91px;
    overflow-y: auto;
    transition: width linear 1s;
}

main nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

nav ul li{
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column; 
}

.colonna{
    display: flex;
    flex-direction: column;
}

.evidence{
    width: 30%;
    height: 2px;
    background-color: var(--evidence);
    margin-top: 2px;
}

.big_container{
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}

.first_row{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.second_row{
    display: flex;
    flex-direction: row; 
    column-gap: 15px;
}

.three_row{
    display: flex;
    flex-direction: row; 
    column-gap: 15px;
}

.three_row .card1 img {
    border-radius: 50%;
}

.three_row .card2 img {
    border-radius: 50%;
}

[class*= "card"]{
    width: 179px;
    text-align: center;
    position: relative;
}

img[target]{
    width: 100%;
}

.player_hover{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    visibility: hidden;
}

.big_container h2{
    margin-bottom: 10px;
    margin-top: 10px;
}

.big_container h1{
    margin-bottom: 20px;
}

.big_container .margin_top{
    margin-top: 20px;
}

main nav ul li a:hover{
    color: white;
}

[class*= "card"]:hover .player_hover{
    visibility: visible;
}
 
img[target]:hover{
    filter: opacity(0.5);
}

/* Inizio footer */

footer{
    width: 100%;
    background-color: var(--bg_footer);
    height: 91px;
    position: fixed;
    z-index: 400;
    display: flex;
    justify-content: space-between;
}

.container_left{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    column-gap: 20px;
}

.container_left h4{
    font-size: 14px;
}

.container_left .txt{
    font-size: 14px;
}

.name_sound{
    width: 43px;
    height: 43px;
}

.name_sound img{
    width: 100%;
    height: 100%;
}

.like i{
    color: var(--txt_gray);
    margin-left: 20px;
}

.container_center{
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
}

.container_center i{
    color: white;
    font-size: 35px;
    padding-bottom: 0px;
}

.container_center .font_size{
    color: white;
    font-size: 20px;
}

.column{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.bar{
    width: 600px;
    height: 5px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    position: relative;
    transition: width  linear 1s;
}

.bar_white{
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    margin-left: 15px;
    position: relative;
}

.circle_volume,
.circle_volume2{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: 0px;
    visibility: hidden;
}

.circle_volume2{
    width: 10px;
    height: 10px;
    top: -2.5px;
}

.bar_gray{
    width: 70%;
    height: 100%;
    background-color: var(--txt_gray);
    border-radius: 0px 10px 10px 0px;
    margin-right: 15px;
}

.container_right{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    column-gap: 20px;
}

.bar2{
    width: 100px;
    height: 5px;
    display: flex;
    border-radius: 10px;
    align-items: center;
}

.bar2 .bar_white{
    margin-left: 0px;
}

.m_right{
    margin-right: 0px;
}

.container_left .album div:hover{
    color: white;
}

.bar .bar_white:hover{
    background-color: var(--evidence);
}

.bar .bar_white:hover .circle_volume{
    visibility: visible;
}

.column .container_center > .zoom:hover{
    font-size: 40px;
}

.container_right .bar2 .bar_white:hover{
    background-color: var(--evidence);
}

.container_right .bar2 .bar_white:hover .circle_volume2{
    visibility: visible;
}

.container_left .like i:hover{
    color: white;
}

[class*= "bar_music"]{
    width: 4px;
    height: 5px;
    background-color: var(--evidence);
} 

.bar_music2,
.bar_music4{
    height: 20px; 
}

.bar_music3{
    height: 30px;
}

.bar_music5{
    height: 5px;
}

[class*= "effect_music"]{
    animation: sound 1s linear infinite;
    position: absolute;
    right: -45px;
    margin-left: 10px;
}

.effect_music2{
    right: -50px;
}

.effect_music3{
    right: -55px;
}

.effect_music4{
    right: -60px;
}

.effect_music5{
    right: -65px;
}

@keyframes sound{
    0%{
        background-color: var(--bg_footer);
    }

    50%{
        background-color: lightgreen; 
    }

    100%{
        height: 10px;
        color: var(--evidence);  
    }
}


/* mediaquery height */

@media screen and (max-height: 660px) {
    .playlist{
        overflow-y: scroll;
    }
}

@media screen and (max-height: 600px){
    .install ul .secondo{
        display: none;
    }
}

@media screen and (max-height:500px) {
    .install ul .primo{
            display: none;
    }

    .install ul hr{
        display: none;
    }

    header{
        display: none; 
    }

    main{
        position: absolute;
        transition: top linear 1s;
        top: 0;
        right: 0;
        height: 100vh;
    }
}

/* mediaquery width */

/* Desktop */

@media screen and (max-width: 1390px) {
    main nav ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: wrap;
        justify-content: center;
        column-gap: 20px;
        row-gap: 20px;
    }

    .first_row,
    .second_row,
    .three_row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: wrap;
        column-gap: 15px;
    } 

    [class*= "card"]{
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 1100px) {
    .container_left,
    .container_center,
    .container_right{
        column-gap: 15px;  
    }

    .column .bar{
        width: 300px;
        transition: width  linear 1s;
    }

    [class*= "card"]{
        width: 137px; 
    }
}

/* md */

@media screen and (max-width: 760px) {
    .container_left,
    .container_center,
    .container_right{
        column-gap: 15px;  
    }

    .column .bar{
        width: 200px;
        transition: width  linear 1s;
    }

    [class*= "card"]{
        width: 168px; 
    }
}

 @media screen and (max-width: 637px) {
    aside{
        width: 50px;
        transition: width linear 1s;
    }

    main{
        width: calc(100% - 50px);
        transition: width linear 1s;
    }

    header{
        width: calc(100% - 50px);
        transition: width linear 1s;
    }

    .home a,
    .playlist,
    .logo,
    .install a,
    .install hr{
        display: none;
    }

    .logo_mobile{
        display: block;
    }

    [class*= "card"]{
        width: 200px; 
    }

    .home,
    .playlist,
    .install{
        padding: 5px;
    }

    .install .secondo{
        margin-top: 5px;
        padding-right: 1px;
    }

    .container_left,
    .container_center,
    .container_right{
        column-gap: 8px;
    }

    .column .bar{
        width: 150px;
        transition: width  linear 1s;
    }
  
    .container_right .bar2{
        width: 50px;
    }

    
    .column .container_center i{
        font-size: 22px;
    }

    .container_right i{
        font-size: 15px;
    }

    .like i{
        margin-left: 10px;
    }

    [class*= "bar_music"]{
        display: none;
    }

    .evidence2{
        display: none;
    }
}

/* s-xs */

@media screen and (max-width:480px), (max-width:350px) {
    .container_right{
        display: none;
    }

   .column{
       padding: 15px;
   }

   [class*= "card"]{
        width: 250px;
   }

   .first_row,
   .second_row,
   .three_row{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
}

